
services:
  api:
    build:
      context: ./api
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
    expose:
      - "5000"
    networks:
      - app-network

  app:
    build:
      context: ./app
    volumes:
      - app_static_files:/usr/src/app/build

  nginx:
    image: nginx:latest
    ports:
      - "80:80"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf
      - app_static_files:/usr/share/nginx/html:ro
    depends_on:
      - app
      - api
    networks:
      - app-network


networks:
  app-network:

volumes:
  app_static_files:
