
services:
  api:
    build:
      context: ./api
    expose:
      - "5000:5000"
    networks:
      - app_network

  app:
    build:
      context: ./app
    volumes:
      - app_static_files:/usr/src/app/build


networks:
  app_network:

volumes:
  app_static_files:
